html {
  box-sizing: border-box;
  background-color: rgb(225, 245, 243);
  font-family: "Karla";
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h2,
h4,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}
.card {
  width: 600px;
  height: 430px;
  box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.48);
  border-radius: 5px;
  overflow: hidden;
}

.top-portion {
  width: 100%;
  height: 45%;
  background-color: white;
  padding: 30px;
}

.top-portion h2 {
  color: rgb(42, 178, 175);
}

.top-portion h4 {
  color: rgb(170, 199, 50);
  margin-top: 15px;
  margin-bottom: 10px;
}

.top-portion p {
  color: silver;
}

.bottom-portion {
  width: 100%;
  height: 55%;
  color: white;
}

.bottom-left {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(42, 178, 175);
  padding: 30px;
}

.bottom-right {
  height: 100%;
  width: 50%;
  /*   display: inline-block; */
  margin-left: 50%;
  margin-top: -39.4%;
  background-color: rgb(92, 189, 187);
  padding: 30px;
}

button {
  background-color: rgb(170, 199, 50);
  border: 0;
  color: white;
  width: 100%;
  padding: 5%;
  margin-top: 30px;
  box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

p,
li {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 200;
}

#price,
#per-month {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}
#price {
  font-size: 1.8rem;
  font-weight: 700;
}
#per-month {
  vertical-align: top;
  padding: 2.5%;
  opacity: 0.5;
}

ul {
  list-style: none;
  padding: 0;
  opacity: 0.8;
}
